/*!***************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/ui/admin/pageprice/main.scss ***!
  \***************************************************************************************************************************/
:root {
  /* SIZES */
  --space: 8px;
  --s025: calc(var(--space) * 0.25);
  --s05: calc(var(--space) * 0.5);
  --s075: calc(var(--space) * 0.75);
  --s: var(--space);
  --s15: calc(var(--space) * 1.5);
  --s2: calc(var(--space) * 2);
  --s3: calc(var(--space) * 3);
  --s4: calc(var(--space) * 4);
  --s45: calc(var(--space) * 4.5);
  --s5: calc(var(--space) * 5);
  --s6: calc(var(--space) * 6);
  --s7: calc(var(--space) * 7);
  --s8: calc(var(--space) * 8);
  --s9: calc(var(--space) * 9);
  --s10: calc(var(--space) * 10);
  --s12: calc(var(--space) * 12);
  --s14: calc(var(--space) * 14);
  --s16: calc(var(--space) * 16);
  --s18: calc(var(--space) * 18);
  --s20: calc(var(--space) * 20);
  --color-light: #ffffff;
  --color-dark-transparent-a: #ffffff88;
  --color-0: #ea6d4e;
  --color-1: #ca2721;
  --color-2: #55413d;
  --color-3: #334155;
  --color-4: hsl(90, 11%, 86%);
  --color-5: #FFFFFF;
  --color-6: #054948;
  --color-7: #111111;
  --color-8: rgba(255, 255, 255, 0.78);
  --color-info: #35ca21;
  --color-warn: var(--color-0);
  --color-error: var(--color-1);
  --color-borders: #a1a1a1;
}
:root :root {
  --fc-button-text-color: var(--color-5);
  --fc-button-bg-color: var(--color-0);
  --fc-button-border-color: var(--color-0);
  --fc-button-hover-bg-color: var(--color-1);
  --fc-button-hover-border-color: var(--color-1);
  --fc-button-active-bg-color: var(--color-1);
  --fc-button-active-border-color: var(--color-1);
  --fc-event-bg-color: var(--color-1);
  --fc-event-border-color: var(--color-1);
  --fc-event-text-color: var(--color-5);
  --fc-event-selected-overlay-color: var(--color-0);
}

.PCPPrice {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.PCPPrice .PriceTools {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--s05);
}
.PCPPrice .PriceTools .PostId {
  border: solid #ccc;
  border-radius: 3px;
  border-width: 1px;
  padding: 0 var(--s);
  height: 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background-color: var(--color-4);
}
.PCPPrice .PriceTools .Price {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.PCPPrice .PriceTools .Price .Type,
.PCPPrice .PriceTools .Price .Value {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: calc(var(--s4) - 2px);
  padding: 0 8px;
  border: solid #ccc;
  box-sizing: border-box;
}
.PCPPrice .PriceTools .Price .Type {
  border-radius: 3px 0 0 3px;
  border-width: 1px 0 1px 1px;
  color: #fff;
  display: none;
}
.PCPPrice .PriceTools .Price .Type.Free {
  background-color: #00b800;
}
.PCPPrice .PriceTools .Price .Type.Sum {
  background-color: #0400ff;
}
.PCPPrice .PriceTools .Price .Type.Local {
  background-color: #ff6600;
}
.PCPPrice .PriceTools .Price.free .Type.Free {
  display: inherit;
}
.PCPPrice .PriceTools .Price.sum .Type.Sum {
  display: inherit;
}
.PCPPrice .PriceTools .Price.local .Type.Local {
  display: inherit;
}
.PCPPrice .PriceTools .Price .Value {
  border-radius: 0 3px 3px 0;
  border-width: 1px 1px 1px 0;
}
.PCPPrice .PriceTools .Price .Value .Number {
  font-weight: bold;
  margin: 0 var(--s05) 0 0;
}
.PCPPrice .PriceTools .Price.free .Value .Number,
.PCPPrice .PriceTools .Price.free .Value .Currency {
  color: #ccc;
}
.PCPPrice .PriceTools .Tools {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--s);
}
.PCPPrice .PriceTools .Tools button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 0;
}
.PCPPrice .PriceTools .Tools button.Edit, .PCPPrice .PriceTools .Tools button.Close {
  font-size: 1.2em;
  line-height: 0;
  padding: 0 0 var(--s05);
  display: none;
}
.PCPPrice .PriceTools .Tools button.Edit.Active, .PCPPrice .PriceTools .Tools button.Close.Active {
  display: flex;
}

#the-list tr td.PCPPrice,
.wrap.nestedpages .nestedpages ol li .row .PCPPrice {
  width: 164px;
}
#the-list tr td.PCPPrice .PriceForm,
.wrap.nestedpages .nestedpages ol li .row .PCPPrice .PriceForm {
  width: 100%;
  position: relative;
}
#the-list tr td.PCPPrice .PriceForm .Selectors,
.wrap.nestedpages .nestedpages ol li .row .PCPPrice .PriceForm .Selectors {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
  width: 180px;
}

.wrap.nestedpages .nestedpages ol li .row .PCPPrice {
  display: table-cell;
  padding: 0 var(--s) 0 0;
}

#pcp_page_assign_price .inside .pricewrapper .PCPPrice .PriceForm {
  width: 100%;
}

.PCPPrice .PriceForm {
  position: relative;
  margin-top: var(--s05);
}
.PCPPrice .PriceForm .Selectors {
  position: relative;
  display: block;
  background-color: #fff;
  border: solid 1px #ccc;
  padding: var(--s3) var(--s15) var(--s15);
  border-radius: 3px;
}
.PCPPrice .PriceForm .Selectors label {
  cursor: pointer;
}
.PCPPrice .PriceForm .Selectors .Tools {
  position: absolute;
  top: var(--s);
  right: var(--s);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--s);
}
.PCPPrice .PriceForm .Selectors .Tools button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 0;
}
.PCPPrice .PriceForm .Selectors .Tools button.Close {
  font-size: 1.2em;
  line-height: 0;
  padding: 0 0 var(--s05);
}
.PCPPrice .PriceForm .Selectors .Selector {
  margin: 0 0 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.PCPPrice .PriceForm .Selectors .Selector.free {
  margin: 0 0 var(--s);
}
.PCPPrice .PriceForm .Selectors .Selector.sum {
  margin: 0 0 4px;
}
.PCPPrice .PriceForm .Selectors .Selector.sum .SumaDiscount {
  margin: 0 var(--s);
}
.PCPPrice .PriceForm .Selectors .Selector.sum .Currency {
  white-space: nowrap;
}
.PCPPrice .PriceForm .Selectors .Selector.local {
  margin: 0 0 0;
}
.PCPPrice .PriceForm .Selectors .Selector input[type=radio] {
  margin: 0 var(--s05) 0 0;
}
.PCPPrice .PriceForm .Selectors .Selector input[type=number] {
  width: 66px;
  margin: 0 var(--s) 0 0;
}
.PCPPrice .PriceForm .Selectors .Selector input[type=number].discount {
  width: 80px;
  padding: 0 0 0 var(--s);
}
.PCPPrice .PriceForm .Selectors .Selector input[type=number].value {
  width: 76px;
  padding: 0 0 0 var(--s);
}
.PCPPrice .PriceForm .Selectors .Selector label,
.PCPPrice .PriceForm .Selectors .Selector .Currency,
.PCPPrice .PriceForm .Selectors .Selector input[type=number] {
  opacity: 0.4;
}
.PCPPrice .PriceForm .Selectors .Selector.Selected label,
.PCPPrice .PriceForm .Selectors .Selector.Selected .Currency,
.PCPPrice .PriceForm .Selectors .Selector.Selected input[type=number] {
  opacity: 1;
}
.PCPPrice .PriceForm .Selectors .Updating {
  position: absolute !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
  display: none;
}
.PCPPrice .PriceForm .Selectors .Updating .Text {
  position: absolute !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  font-weight: bold;
}

/*# sourceMappingURL=main.css.map*/